.div-home-page {
  width: 100%;
}

.div-search-bar {
  display: flex;
  justify-content: center;

  padding: 10px 20px;
}

.div-list-film {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.div-card-film {
  background-color: white;
  border: solid 2px;
  border-radius: 10px;
  max-width: max-content;
  width: 20%;
  height: max-content;
  margin: 10px;
  padding: 10px;
}
