.div-home-page {
  width: 100%;
}

.div-search-bar {
  display: flex;
  justify-content: center;

  padding: 10px 20px;
}

.search-input {
  margin: 1em;
  padding: 1em;
  width: 50%;
  border-radius: 15px;
  border: none;
}

.search-button {
  margin: 1em;
  padding: 1em;
  width: 10%;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: crimson;
}

.div-list-film {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.div-card-film {
  background-color: white;
  border: solid 2px;
  border-radius: 10px;
  max-width: 20%;
  width: max-content;

  margin: 10px;
  padding: 10px;
}
